<%= render partial: 'shared/page_title', :locals => {:heading => 'Read by Topic'} %>

<hr/>

<div class="row">
  
  <div class="col-md-3">
    <dl>
      <dt>Topic Range</dt>
      <% @topics.each do |topic| %>
        <dd>- <%= link_to topic.name, topics_path(topic: topic) %></dd>
      <% end %>
    </dl>
  </div>
    
  <div class="col-md-9">
    
    <% if @questions %>
      <% if @questions.size > 0 %>
        <% @questions.each do |question| %>
          <p><%= question.question %></p>
        <% end %>
      <% else %>
        <h4>Nothing found</h4>
      <% end %>
    <% else %>
      <p class="instructions">Browse questions by selecting a topic on the left</p>
    <% end %>
  </div>
  
</div>