<%= render partial: 'shared/page_title', :locals => {:heading => 'Collaborate and Discuss'} %>

<p class="instructions">
  What's a conversation when it's only one-sided? Look up other users and add them to your friends 
  list to see what they're writing. Expose yourself to different viewpoints and you'll be reminded 
  that diversity is actually the norm! And even better - that pretty much we're all concerned about 
  the same basic things. And... We can change the world together. <i class="fa fa-heart"></i>
</p>

<%= render 'friends/lookup' %>

<%= render 'friends/list' %>