<div class="row">
  <div class="col-md-8">
    <h4><%= heading %></h4>
  </div>
  <div class="col-md-4 pull-right text-right">
    <h4>
      <%= link_to('javascript:history.go(-1);') do %>
        <i class="fa fa-arrow-left"></i> Back
      <% end %>
    </h4>
  </div>
</div>    
