<div id="spinner" class="row col-md-12 text-center" style="display:none; margin-top:6px; margin-bottom:6px;">
  <span class="fa fa-spinner fa-spin spinner-icon"></span>
  <span class="spinner-text">. . . processing . . .</span>
</div>