<h3>Greetings!</h3>
<p class="lead">
  This little site is a student project commissioned at the end of a wonderful Ruby coding course on Udemy called 
  <%= link_to "The Complete Ruby on Rails Developer Course", "https://www.udemy.com/the-complete-ruby-on-rails-developer-course" %>.
</p>
<p>
  We were given the choice of taking <strong>one week</strong> and building out one of our earlier projects to a more robust version of 
  itself or to give an entirely new application a go... from scratch. With zero instructor guidance. 
  Being one that apparently loves to beat my head on my desk quite often, I've opted for the entirely new application.
</p>
<p>
  At the time of starting work on this, the clown show that is the Presidential race is pretty much in full swing. And while 
  I've not made a real decision yet between the Democratic candidates, I find Bernie Sanders to be refreshingly 
  approachable, honest, passionate, kind-hearted, and strong. He gives good vibe. :-) And it never hurts to do 
  something based on good vibe so I figured why not build a project based on something Bernie.
</p>
<p>
  So this application - The Berning Question - reflects my desire to do politics a little differently (something I think 
  we desparately need) while having fun with Ruby on Rails. It's intended to allow regular folks to pose honest questions 
  asking how-will-you-actually-do-that about Bernie's talking points and indicate by casting votes which of those questions 
  is more important to you. The end goal being that Bernie would actually visit at some point and answer 
  the Top 5. 
</p>
<p>
  The Questions of course necessitate discussion! In this app, each major discussion is a Blurb. And those Blurbs will of 
  course generate commentary. And to do all this and keep up with what you've said, what your buddies have said, and 
  add your two cents, you can search for and create your own friends list. And a few more features I'm sure to support all 
  of that.
</p>
<h4 class="text-primary">
  So here's to committing to a one week timeline and here's to you for taking a look. Thanks!
</h4>
